body {
	font-family: 'Roboto', sans-serif;
}

.add-item {
	left: 30%;
}

header {
	display: inline;
	width:30%;
	padding-left:15em;
	padding-top:1em;	
	position:fixed;
	z-index:300;
}

h1 {
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: normal;
	color: #000000;
	background-color: lavender;
}

