body {
	font-family: 'Roboto', sans-serif;
}

button {
	background-color: #6C6C6C;
	color: white;
	padding: 1em;
	font-size: 1em;

}
.add-content {
	display: block;
	/* width: calc(100% - 10em); */
	/* height: calc(100% - 10em); */
	/* padding-left:5em; */
	/* padding-top:1em; */
	/* position:fixed; */
	/* top: 10em; */
	/* left: 10em; */
	box-sizing: border-box;
	padding: 9em;
	margin-left: 10em;
	margin-top: 10em;
}

.adding {
	display: block;
}

h1 {
	display: block;
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: normal;
	color: #279AF1;
	background-color: lavender;
}
.field-wrap {
	position:relative;
	margin-bottom:2em;
  }

label {
	position:absolute;
	padding: 1em;
	color: #279AF1;
	font-size:1em;
	  }
  
label.active {
		left:2px;
		font-size:1em;
		
	  }
  
  input, textarea {
	font-size:1em;;
	display:block;
	width:100%;
	height:100%;
	padding:1em;
	border:1px solid #279AF1;
	color:#000000;

	

  }