body {
	font-family: 'Roboto', sans-serif;
}

.item-content{
    display: block;
	box-sizing: border-box;
	padding: 7em;
	margin-left: 10em;
    margin-top: 10em;
}
.field-wrap {
	position:relative;
	margin-bottom:2em;
	
  }

.item {
  padding: 1em;
  text-align: center;
  display: flex;
  color: black;
}
.name {
    flex-grow: 1;
}
.price {
    flex-grow: 1;
}
.location {
    flex-grow: 1;
}
.condition {
    flex-grow: 1;
}
.category {
    flex-grow: 1;
}
.description {
    flex-grow: 1;
}

@media screen and (max-width: 700px) {

	.item-content {
		display: block;
		box-sizing: border-box;
		padding: 2em;
		margin-left: 1em;
		margin-top: 5em;
		z-index: 600;
	}
}