.gridcoloured{
    background: #D9D9D9;
}
.item {
  display: grid;
  grid-template-columns: 5% 10% 10% 10% 10% 10% 30%;
  row-gap: 5%;
}
.radio{
    grid-column: 1 / 1;
}
.name {
    grid-column: 2 / 2;
}
.price {
    grid-column: 3 / 3;
}
.location {
    grid-column: 4 / 4;
}
.condition {
    grid-column: 5 / 5;
}
.category {
    grid-column: 6 / 6;
}
.description {
    grid-column: 7 / 7;
}

.deleteitem{
    background-color: #279AF1;
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 1.2em;
    color: white;
}