
html, body {
    /* padding: 60px 15px; */
    color: #fff;
    margin: 0;
    /* display: grid; */
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}

button {
	background-color: #6C6C6C;
	color: white;
	padding: 1em;
	font-size: 1em;

}
.nav-bar {
    width: 100%;
    height: 10em;
    padding-top:30px;
    padding-left:25px;
    top: 0;
    left: 0;
    background: #279AF1;
    position: fixed;
    z-index:400;
    box-sizing: border-box;
}

.top-nav {
    display: inline;
    text-align: right;
    width: 100%;
    margin: 1em; 
    padding: 2em;

}

ul li {
    text-align: right; 
    display: inline; 
    margin-right: 0px;
    background: #279AF1 ;
    
    
}

aside {
    position: fixed;
    text-align: left;
    width: 10em;
    height: calc(100% - 10em);
    top: 10em;
    left: 0;
    background: #279AF1;
    
    box-sizing: border-box;
}


.side-nav {
    display: block;
    text-align: left;
    width: 20%;
   

}
nav ul li a{
	color:black;
}

nav ul li a:hover{
	color: white;
}


@media screen and (max-width: 700px) {

	
  
    .nav-bar {
        display:inline;
        width: 100%;
        height: 5em;
        padding-top:30px;
        padding-left:25px;
        top: 0;
        left: 0;
        background: #279AF1;
        position: fixed;
        z-index:400;
        box-sizing: border-box;
    }

    aside {
        display: inline;
        width: 100%;
        height:5em;  
        padding-left:25px;
        top:5em;
    
    }
    
    .side-nav {
        
        display: inline;
        text-align: right;
        width: 100%;
        margin: 1em; 
        padding: 2em;
    
  
  
  }
