
html, body {
    padding: 60px 15px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}

.nav-bar {
    width: 100%;
    height: 20;
    padding-top:30px;
	padding-left:25px;
    top: 0;
    left: 0;
    background: #279AF1;
    position: fixed;
    z-index:400;
}

.top-nav {
    display: inline;
    text-align: right;
    width: 100%;
    margin: 1em; 
    padding: 2em;

}

ul li {
    text-align: right; 
    display: inline; 
    margin-right: 0px;
    background: #279AF1 ;
    padding: 1em;
    
}

aside {
    
    position: fixed;
    text-align: left;
    width: 20%;
    height: 100%;
    top: 20%;
    left: 0;
    background: #279AF1;;
       padding: 1em;
}


.side-nav {
    display: block;
    text-align: left;
    width: 100%;
   
    padding: 1em;

}
nav ul li a{
	color:black;
}

nav ul li a:hover{
	color: white;
}


